<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="user_login.css">
</head>
<body>
    <div>
        <form id="form">
            <label for="email">Enter Email:</label>
            <input type="email" name="email"  id="email">
            <label for="password">Enter Password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form>
        
    </div>
</body>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="user_login.js"></script>
    

</html>